<!--    CSS burger menu -- curtesy of Erik Terwan   -->
<!--   https://codepen.io/erikterwan/pen/EVzeRP  -->
<!--        MIT License        -->
<nav class="cl-nav" role="navigation">
	<div>
		<!-- A fake / hidden checkbox is used as click receiver,
    	so you can use the :checked selector on it.-->
		<input type="checkbox" />
		<!-- Some spans to act as a hamburger.-->
		<span></span>
		<span></span>
		<span></span>
		<!-- Too bad the menu has to be inside of the button but hey, it's pure CSS magic.-->
		<ul>
			<!-- Renders the li.html content view for each content/posts/*.md 
			View defined at layouts/defaults/li -->
			{{ range .Pages }}
			{{ .Render "li"}}
			{{ end }}
		</ul>
	</div>
</nav>